In [1]:
import pandas as pd
import numpy as np
import datetime as dt

### Tempearture concatenation for each station or point of study (1985-2020)

In [2]:
dfa = pd.read_csv("sst_85.csv")
dfb = pd.read_csv("sst_90.csv")
dfc = pd.read_csv("sst_95.csv")
dfd = pd.read_csv("sst_00.csv")
dfe = pd.read_csv("sst_05.csv")
dff = pd.read_csv("sst_10.csv")
dfg = pd.read_csv("sst_15.csv")
dfh = pd.read_csv("sst_20.csv")

In [21]:
dfa

,Unnamed: 0,time,sst1,sst2,sst3,sst4,sst5,sst6,sst7,sst8,sst9,sst10,sst11
0,0,1985-01-01,26.59,26.59,26.59,26.59,26.85,26.85,26.59,26.85,26.85,26.59,26.85
1,1,1985-01-02,26.30,26.30,26.30,26.30,26.80,26.80,26.30,26.80,26.80,26.30,26.80
2,2,1985-01-03,26.34,26.34,26.34,26.34,26.86,26.86,26.34,26.86,26.86,26.34,26.86
3,3,1985-01-04,27.63,27.63,27.63,27.63,27.62,27.62,27.63,27.62,27.62,27.63,27.62
4,4,1985-01-05,27.90,27.90,27.90,27.90,27.83,27.83,27.90,27.83,27.83,27.90,27.83
5,5,1985-01-06,27.17,27.17,27.17,27.17,27.16,27.16,27.17,27.16,27.16,27.17,27.16
6,6,1985-01-07,26.57,26.57,26.57,26.57,26.69,26.69,26.57,26.69,26.69,26.57,26.69
7,7,1985-01-08,26.69,26.69,26.69,26.69,26.79,26.79,26.69,26.79,26.79,26.69,26.79
8,8,1985-01-09,26.51,26.51,26.51,26.51,26.63,26.63,26.51,26.63,26.63,26.51,26.63
9,9,1985-01-10,26.43,26.43,26.43,26.43,26.50,26.50,26.43,26.50,26.50,26.43,26.50
10,10,1985-01-11,26.43,26.43,26.43,26.43,26.48,26.48,26.43,26.48,26.48,26.43,26.48
11,11,1985-01-12,26.43,26.43,26.43,26.43,26.45,26.45,26.43,26.45,26.45,26.43,26.45
12,12,1985-01-13,26.38,26.38,26.38,26.38,26.39,26.39,26.38,26.39,26.39,26.38,26.39

**Station1** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [4]:
a = dfa[["time", "sst1"]]

In [5]:
b = dfb[["time", "sst1"]]

In [6]:
c = dfc[["time", "sst1"]]

In [7]:
d = dfd[["time", "sst1"]]

In [8]:
e = dfe[["time", "sst1"]]

In [9]:
f = dff[["time", "sst1"]]

In [10]:
g = dfg[["time", "sst1"]]

In [11]:
h = dfh[["time", "sst1"]]

In [15]:
df1= pd.concat([a, b, c, d, e, f, g, h], sort=False)

In [16]:
df1

          time   sst1
0   1985-01-01  26.59
1   1985-01-02  26.30
2   1985-01-03  26.34
3   1985-01-04  27.63
4   1985-01-05  27.90
..         ...    ...
8   2020-01-09  28.58
9   2020-01-10  28.49
10  2020-01-11  28.45
11  2020-01-12  28.73
12  2020-01-13  28.79

[104 rows x 2 columns]

**Station2** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [18]:
a2 = dfa[["time", "sst2"]]
b2 = dfb[["time", "sst2"]]
c2 = dfc[["time", "sst2"]]
d2 = dfd[["time", "sst2"]]
e2 = dfe[["time", "sst2"]]
f2 = dff[["time", "sst2"]]
g2 = dfg[["time", "sst2"]]
h2 = dfh[["time", "sst2"]]

In [19]:
df2= pd.concat([a2, b2, c2, d2, e2, f2, g2, h2], sort=False)

In [20]:
df2

          time   sst2
0   1985-01-01  26.59
1   1985-01-02  26.30
2   1985-01-03  26.34
3   1985-01-04  27.63
4   1985-01-05  27.90
..         ...    ...
8   2020-01-09  28.58
9   2020-01-10  28.49
10  2020-01-11  28.45
11  2020-01-12  28.73
12  2020-01-13  28.79

[104 rows x 2 columns]

**Station3** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [23]:
a3 = dfa[["time", "sst3"]]
b3 = dfb[["time", "sst3"]]
c3 = dfc[["time", "sst3"]]
d3 = dfd[["time", "sst3"]]
e3 = dfe[["time", "sst3"]]
f3 = dff[["time", "sst3"]]
g3 = dfg[["time", "sst3"]]
h3 = dfh[["time", "sst3"]]

In [24]:
df3= pd.concat([a3, b3, c3, d3, e3, f3, g3, h3], sort=False)

**Station4** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [27]:
a4 = dfa[["time", "sst4"]]
b4 = dfb[["time", "sst4"]]
c4 = dfc[["time", "sst4"]]
d4 = dfd[["time", "sst4"]]
e4 = dfe[["time", "sst4"]]
f4 = dff[["time", "sst4"]]
g4 = dfg[["time", "sst4"]]
h4 = dfh[["time", "sst4"]]

In [28]:
df4= pd.concat([a4, b4, c4, d4, e4, f4, g4, h4], sort=False)

**Station5** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [30]:
a5 = dfa[["time", "sst5"]]
b5 = dfb[["time", "sst5"]]
c5 = dfc[["time", "sst5"]]
d5 = dfd[["time", "sst5"]]
e5 = dfe[["time", "sst5"]]
f5 = dff[["time", "sst5"]]
g5 = dfg[["time", "sst5"]]
h5 = dfh[["time", "sst5"]]

In [31]:
df5= pd.concat([a5, b5, c5, d5, e5, f5, g5, h5], sort=False)

**Station6** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [33]:
a6 = dfa[["time", "sst6"]]
b6 = dfb[["time", "sst6"]]
c6 = dfc[["time", "sst6"]]
d6 = dfd[["time", "sst6"]]
e6 = dfe[["time", "sst6"]]
f6 = dff[["time", "sst6"]]
g6 = dfg[["time", "sst6"]]
h6 = dfh[["time", "sst6"]]

In [34]:
df6= pd.concat([a6, b6, c6, d6, e6, f6, g6, h6], sort=False)

**Station7** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [36]:
a7 = dfa[["time", "sst7"]]
b7 = dfb[["time", "sst7"]]
c7 = dfc[["time", "sst7"]]
d7 = dfd[["time", "sst7"]]
e7 = dfe[["time", "sst7"]]
f7 = dff[["time", "sst7"]]
g7 = dfg[["time", "sst7"]]
h7 = dfh[["time", "sst7"]]

In [37]:
df7= pd.concat([a7, b7, c7, d7, e7, f7, g7, h7], sort=False)

**Station8** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [39]:
a8 = dfa[["time", "sst8"]]
b8 = dfb[["time", "sst8"]]
c8 = dfc[["time", "sst8"]]
d8 = dfd[["time", "sst8"]]
e8 = dfe[["time", "sst8"]]
f8 = dff[["time", "sst8"]]
g8 = dfg[["time", "sst8"]]
h8 = dfh[["time", "sst8"]]

In [40]:
df8 = pd.concat([a8, b8, c8, d8, e8, f8, g8, h8], sort=False)

**Station9** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [42]:
a9 = dfa[["time", "sst9"]]
b9 = dfb[["time", "sst9"]]
c9 = dfc[["time", "sst9"]]
d9 = dfd[["time", "sst9"]]
e9 = dfe[["time", "sst9"]]
f9 = dff[["time", "sst9"]]
g9 = dfg[["time", "sst9"]]
h9 = dfh[["time", "sst9"]]

In [43]:
df9 = pd.concat([a9, b9, c9, d9, e9, f9, g9, h9], sort=False)

**Station10** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [45]:
a10 = dfa[["time", "sst10"]]
b10 = dfb[["time", "sst10"]]
c10 = dfc[["time", "sst10"]]
d10 = dfd[["time", "sst10"]]
e10 = dfe[["time", "sst10"]]
f10 = dff[["time", "sst10"]]
g10 = dfg[["time", "sst10"]]
h10 = dfh[["time", "sst10"]]

In [46]:
df10 = pd.concat([a10, b10, c10, d10, e10, f10, g10, h10], sort=False)

**Station11** Sea Surface Temperature (SST) every 5 years from 1985 to 2020

In [48]:
a11 = dfa[["time", "sst11"]]
b11 = dfb[["time", "sst11"]]
c11 = dfc[["time", "sst11"]]
d11 = dfd[["time", "sst11"]]
e11 = dfe[["time", "sst11"]]
f11 = dff[["time", "sst11"]]
g11 = dfg[["time", "sst11"]]
h11 = dfh[["time", "sst11"]]

In [49]:
df11 = pd.concat([a11, b11, c11, d11, e11, f11, g11, h11], sort=False)